

  <h4>Please sign in</h4>
  <form action="/sessions" method="POST">
  <input type="email" name="email" placeholder="bob@example.com">
  <input type="password" name="password">
  <input type="submit" value="Sign in">
  </form>